# **Lab 1: Python Programming Assignment**

**1. Write a program that prints all the numbers from 1 to 100. For multiples of 3, print "Fizz" instead of the number, and for multiples of 5, print "Buzz". For numbers that are multiples of both 3 and 5, print "FizzBuzz". Any other number print as it is.**

In [3]:
for i in range(1,101):
  if (i%3==0 and i%5==0):
    print(i,": ","FizzBuzz")
  elif(i%3==0):
    print(i,": ","Fizz")
  elif (i%5==0):
    print(i,": ","Buzz")
  else:
    print(i)

1
2
3 :  Fizz
4
5 :  Buzz
6 :  Fizz
7
8
9 :  Fizz
10 :  Buzz
11
12 :  Fizz
13
14
15 :  FizzBuzz
16
17
18 :  Fizz
19
20 :  Buzz
21 :  Fizz
22
23
24 :  Fizz
25 :  Buzz
26
27 :  Fizz
28
29
30 :  FizzBuzz
31
32
33 :  Fizz
34
35 :  Buzz
36 :  Fizz
37
38
39 :  Fizz
40 :  Buzz
41
42 :  Fizz
43
44
45 :  FizzBuzz
46
47
48 :  Fizz
49
50 :  Buzz
51 :  Fizz
52
53
54 :  Fizz
55 :  Buzz
56
57 :  Fizz
58
59
60 :  FizzBuzz
61
62
63 :  Fizz
64
65 :  Buzz
66 :  Fizz
67
68
69 :  Fizz
70 :  Buzz
71
72 :  Fizz
73
74
75 :  FizzBuzz
76
77
78 :  Fizz
79
80 :  Buzz
81 :  Fizz
82
83
84 :  Fizz
85 :  Buzz
86
87 :  Fizz
88
89
90 :  FizzBuzz
91
92
93 :  Fizz
94
95 :  Buzz
96 :  Fizz
97
98
99 :  Fizz
100 :  Buzz

**2. Write a recursive function factorial(n) to calculate the factorial of a given positive integer n.**

In [5]:
def fact(n):
  if(n==1):
    return 1
  return fact(n-1)*n

# Main
a =int(input("Enter a number => "))
a = fact(a)
print(a)

Enter a number =>  45

119622220865480194561963161495657715064383733760000000000

**3. Define a class BankAccount in python program with the following: Attributes: account_number, account_holder, balance. Methods: deposit(amount): Adds the amount to the balance. withdraw(amount): Subtracts the amount from the balance if sufficient funds are available. get_balance(): Returns the current balance. Demonstrate the use of this class with an example.**

In [7]:
class BankAccount:
  def __init__(self,account_number, account_holder, balance) :
    self.account_number = account_number
    self.account_holder = account_holder
    self.balance = balance

  def __str__(self):
    return f"Account Number: {self.account_number}\nAccount Holder: {self.account_holder}\nBalance: {self.balance}"

  def deposit(self,amount):
    self.balance+=amount

  def withdraw(self,amount):
    if(self.balance>=amount):
      self.balance-=amount
    else:
      print("Insufficient Funds")

  def get_balance(self):
    return self.balance


# Main
customer1 = BankAccount(1,"Arwaz",5000)
print(customer1)

customer1.deposit(2000)
print(customer1)

customer1.withdraw(1000)
print(customer1)

Account Number: 1
Account Holder: Arwaz
Balance: 5000
Account Number: 1
Account Holder: Arwaz
Balance: 7000
Account Number: 1
Account Holder: Arwaz
Balance: 6000

**4. Using the math library to write a function calculate_distance(x1, y1, x2, y2) that calculates the Euclidean distance between two points (x1, y1) and (x2, y2).**

In [9]:
import math

def  calculate_distance(x1, y1, x2, y2):
  return math.sqrt((x2-x1)**2+(y2-y1)**2)


# Main
x1 = int(input("Enter X1 =>"))
x2 = int(input("Enter X2 =>"))
x3 = int(input("Enter X3 =>"))
x4 = int(input("Enter X4 =>"))
print(round(calculate_distance(x1,x2,x3,x4),2))

Enter X1 => 14
Enter X2 => 12
Enter X3 => 02
Enter X4 => 23

16.28

**5. Write a Python program that uses list comprehension to generate a list of all numbers between 1 and 1000 divisible by 7 but not by 5.**

In [11]:
ls = [i for i in range(1,1000) if i%7==0 and i%5!=0]
print(ls)

[7, 14, 21, 28, 42, 49, 56, 63, 77, 84, 91, 98, 112, 119, 126, 133, 147, 154, 161, 168, 182, 189, 196, 203, 217, 224, 231, 238, 252, 259, 266, 273, 287, 294, 301, 308, 322, 329, 336, 343, 357, 364, 371, 378, 392, 399, 406, 413, 427, 434, 441, 448, 462, 469, 476, 483, 497, 504, 511, 518, 532, 539, 546, 553, 567, 574, 581, 588, 602, 609, 616, 623, 637, 644, 651, 658, 672, 679, 686, 693, 707, 714, 721, 728, 742, 749, 756, 763, 777, 784, 791, 798, 812, 819, 826, 833, 847, 854, 861, 868, 882, 889, 896, 903, 917, 924, 931, 938, 952, 959, 966, 973, 987, 994]

**6. Write a Python function remove_duplicates(lst) that takes a list as input and returns a new list with all duplicate elements removed, maintaining the original order without inbuilt functions.**

In [13]:
from random import randint
def remove_duplicates(ls):
  newLs = []
  for i in ls:
    if i not in newLs:
      newLs.append(i)
  return newLs

ls = [1,2,2,3,4,4,55,6,7]
print("Original List => ",ls)
newLs = remove_duplicates(ls)
print("New List => ",newLs)

Original List =>  [1, 2, 2, 3, 4, 4, 55, 6, 7]
New List =>  [1, 2, 3, 4, 55, 6, 7]